.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media all and (max-width: 950px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media all and (max-width: 750px) {
  .place__title {
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
