@import url("../photo-grid/__item/photo-grid__item.css");

.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1220px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 950px) {
  .photo-grid {
      background-color: red;
    max-width: 720px;
    margin-top:88px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 750px) {
  .photo-grid {
    max-width: 288px;
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
