.place__image {
  width: 100%;
  max-width: 460px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

@media all and (max-width: 1220px) {
  .place__image {
    max-width: 440px;
  }
}

@media all and (max-width: 950px) {
  .place__image {
    max-width: 340px;
  }
}

@media all and (max-width: 750px) {
  .place__image {
    max-width: 320px;
  }
}
