@import url("../header/__lang/header__lang.css");
@import url("../header/__lang-link/header__lang-link.css");
@import url("../header/__logo/header__logo.css");

.header {
  width: 100%;
  /* height:100px; */
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 28px 48px 0 48px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}
