.lead__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;

  padding-top: 32px;
  font-size: 30px;
  padding-bottom: 64px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    background-color: yellow;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    background-color: green;
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    background-color: red;
    font-size: 16px;
    padding-top: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
}
