.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-gap: 48px 40px;
  max-width: 1184px;
  padding-top: 80px;
}

.place:first-of-type {
  padding-top: 0px;
}

@media all and (max-width: 1220px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
  }
}

@media all and (max-width: 950px) {
  .place {
    padding-top: 72px;
    grid-gap: 48px 24px;
    grid-template-columns: 340px 352px;
  }
}

@media all and (max-width: 750px) {
  .place {
    padding-top: 50px;
    row-gap: 32px;
    grid-template-columns: 1fr;
  }
}
