.footer {
  margin-top: 92px;
  margin-bottom: 48px;
  margin-right: 48px;
  margin-left: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .footer {
    margin-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
  }
}
